[submodule "submodules/webontv-front-qml"]
	path = submodules/webontv-front-qml
	url = git@github.com:sawyerlin/webontv-front-qml.git
[submodule "submodules/libfbxqml"]
	path = submodules/libfbxqml
	url = git@github.com:fbx/libfbxqml.git
