[submodule "submodules/webontv-front-qml"]
	path = submodules/webontv-front-qml
    url = https://github.com/sawyerlin/webontv-front-qml.git
[submodule "submodules/libfbxqml"]
	path = submodules/libfbxqml
    url = https://github.com/fbx/libfbxqml.git
[submodule "submodules/hubee_qt5_test"]
	path = submodules/hubee_qt5_test
	url = http://gitlab.hubee.lan/dev/hubee_qt5_test.git
